# Budgeting App Sandbox

In [113]:
import numpy as np

In [114]:
import pandas as pd

In [115]:
from pipey import Pipeable

In [116]:
categories_df = pd.DataFrame(columns=['category',
                                     'proportion',
                                     'budget',
                                     'spent',
                                     'difference'])

In [117]:
subcategories_df = pd.DataFrame()

In [118]:
categories_df.head()

Empty DataFrame
Columns: [category, proportion, budget, spent, difference]
Index: []

In [119]:
def setCategories(df, categories=None):
        if categories is None:
            categories = input("Enter the categories you want to budget for " +
                               "in a comma separated form (category1, category2, ...)\n")
            
            categories = categories.strip().lower().split(',')

        df['category'] = categories

In [144]:
def addCategories(df, categories=None):
        if categories is None:
            categories = input("Enter additional categories to add to your budget " +
                               "in a comma separated form (category1, category2, ...)\n")

            categories = categories.strip().lower().split(',')

        for cat in categories:
            if cat in df['category'].values:
                print(f"Category '{cat}' already exists.")
                continue
            
#             current_cats = list(df['category'].values)
#             current_cats.append(cat)
            
            df.loc[df.shape[0]] = [cat, pd.nan, 0, 0, 0]
            
        return(df)

In [145]:
setCategories(categories_df, ['savings', 'expenses', 'charity'])

ValueError: Length of values (3) does not match length of index (4)

In [146]:
categories_df

   category proportion budget spent difference
0   savings        NaN    NaN   NaN        NaN
1  expenses        NaN    NaN   NaN        NaN
2   charity        NaN    NaN   NaN        NaN
3      test          0      0     0          0

In [147]:
new_df = addCategories(categories_df, ['test'])
new_df

Category 'test' already exists.

   category proportion budget spent difference
0   savings        NaN    NaN   NaN        NaN
1  expenses        NaN    NaN   NaN        NaN
2   charity        NaN    NaN   NaN        NaN
3      test          0      0     0          0

In [ ]:
temp = list(categories_df['category'].values)
print(temp)
temp.append('test')
print(temp)